* {
	box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

body{
    animation: fadeInAnimation ease-in 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#about{
    height: auto;
    background-color: #FAF3DB;
}

#name{
    float: left;
    width: 60%;
    text-align: center;
    font-size: 1.2em;
    margin-top: 10%;
}

#name h1{
    font-size: 2.5em;
    color: #403D39;
}

#name h2{
    font-size: 1.5em;
    padding: 0.5%;
    color: #A33100;
    font-weight: bolder;
}

#name p{
    width: 70%;
    text-align: left;
    margin-left: 15%;
    color: #403D39;
}

#pic-about{
    width: 16%;
    border-radius: 50%;
    align-items: center;
    float: left;
    margin-left: 42%;
}

#profile-picture{
    float: right;
    width: 25%;
    height: auto;
    margin-top: 5%;
    margin-right: 15%;
    border-radius: 50%;
    box-shadow: 10px 10px 5px #A33100, 15px 15px 8px rgb(183, 176, 176);
    transition: transform .5s;
}

#profile-picture:hover{
    transform: scale(1.05);
}

#profile-picture img{
    width: 100%;
    height: auto;
}

#email-text{
    display: block;
    font-size: 0.5em;
    float: left;
    width: 100%;
    margin-left: 5%;
    margin-bottom: 1%;
    color: transparent;
    /*color: #A33100; */
}

footer{
    width: 100%;
    color: #fff;
    text-align: center;
    float: left;
    bottom: 5%;
    background-color: #403D39;
    height: 15%;
    padding: 2%;
}

.icon {
    width: 2em;
    height: auto;
    opacity: 60%;
    padding-right: 0.5%;
}

.icon:hover{
    opacity: 100%;
}

#social{
    margin-top: 2%;
    font-size: 1.5em;
}

/* experience section */

#experience {
    background-color: #FAF3DB;
    float: left;
    width: 100%;
    margin-top: 5%;
}

#experience h2{
    color:#A33100;
    font-size: 3.5em;
    float: left;
    width: 40%;
    height: 100%;
    display: block;
    padding-top: 15%;
    padding-left: 3%;
    text-align: center;
}

.experience-title{
    font-weight: bolder;
    font-size: 1.5em;
    color:#A33100;
}

.experience-company{
    font-size: 1.1em;
    display: inline;
}

.experience-company a{
    text-decoration: none;
    color: #813B36;
}

.job-date{
    display: inline;
    font-size: 1em;
    color: #813B36;
}

.job{
    padding: 1%;
    float: right;
    width: 60%;
    color:#403D39;
}

.company-logo{
   width: 5%;
   height: auto;
   float: left;
}

.company-logo img{
    width: 100%;
    height: auto;
    margin-top: 30%;
}

.job-details{
    display: inline-block;
    padding: 1%;
    width: 75%;
}

.more:hover{
    cursor: pointer;
    color:#A33100;
    font-weight: bolder;
}

.more{
    float: right;
    width: 36%;
}

/* projects section */

/* certifications and courses section*/
#certificates{
    width: 100%;
    height: auto;
}

#certifications{
    width: 100%;
    float: left;
    background-color: #304B42;
    margin-top: 5%;
    height: auto;
}

#certifications h2{
    font-size: 3.5em;
    color: #ffffff;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

#logos{
    float: left;
    width: 100%;
    
    padding: 5%;
}

#logos img{
    width: 18em;
    height: auto;
    margin: 1%;
    opacity: 0.9;
    transition: transform .5s;
    margin-left: 5%;
}

#logos img:hover{
    transform: scale(1.1);
    opacity: 1.2;
}

#logos p{
    font-size: 1em;
    width: 25%;
    text-align: center;
    font-weight: bolder;
}

#third-line{
    height: auto;
    width: 100%;
    float: left;
    background-color: #ffffff;
}

#university{
    float: left;
    width: 50%;
    background-color: #fff;
    height: auto;
}

#university h2{
    width: 100%;
    font-size: 3.5em;
    color: #304B42;
    text-align: center;
    margin-top: 5%;
}

#university div{
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 3%;
}

#university img{
    float: left;
    width: 15%;
    height: auto;
    display: block;
    margin-right: 3%;
    margin-left: 5%;
}

#university h3{
    width: 100%;
    font-size: 1.7em;
    color: #304B42;
    margin-top: 3%;
}

#university p{
    width: 100%;
    font-size: 1em;
    font-weight: bolder;
}

#languages{
    width: 50%;
    height: auto;
    float: left;
    background-color: #F6E7B7;
    color: black;
    padding-bottom: 1.6%;
}

#languages h2{
    width: 100%;
    font-size: 3.5em;
    color: #A33100;
    text-align: center;
    margin-top: 5%;
}

.language{
    float: left;
    width: 45%;
    margin-left: 5%;
}

.language img{
    width: 25%;
    margin-left: 40%;
}

.language h3{
    width: 100%;
    font-size: 2em;
    text-align: center;
}

.language p{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.language p a{
    text-decoration: none;
    color: black;
}

.language p a:hover{
    color: #304B42;
}


#courses{
    float: left;
    width: 100%;
    height: auto;
    height: auto;
    background-color: #813B36;
}

#course{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 3%;
    float: left;
}

#course h2{
    margin: 3%;
    color: #fff;
    font-size: 3.5em;
    text-align: center;
}

.course-item{
    padding: 1.5%;
    font-size: 1.2em;
    width: 50%;
    height: auto;
    float: left;
    align-content: center;
    align-self:center ;
}

.course-item a{
    text-decoration: none;
    background-color: #ffffff;
    color: #813b36;
    padding: 1%;
    font-weight: bolder;
    border: 3px solid transparent;
}

.course-item a:hover{
    border: 3px solid #fff;
    background-color: #813b36;
    color: #fff;
}
/* certifications and courses section end*/

#projects{
    background-color: #ffffff;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;
}

#projects h2{
    color: #304B42;
    font-size: 3.5em;
    float: left;
    width: 100%;
    height: auto;
    display: block;
    padding-top: 3%;
    text-align: center;
}

.description{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: #813B36;
    padding: 0.5%;
}

.project{
    float: left;
    background-color: #FAF3DB;
    width: 27%;
    height: auto;
    margin: 3%;
    transition: transform .5s;
    opacity: 0.9;
}

.project:hover{
    opacity: 1.2;
 	transform: scale(1.05);
}

.project-title{
    background-color: #304B42;
    height: 6em;
}

.project-title-text{
    font-size: 1.3em;
    color: #ffffff;
    padding: 5%;
    text-align: center;
    font-weight: bold;
    height: auto;
}

.project-image{
    float: left;
    width: 100%;
    height: 6em;
    padding: 3%;
}

.project-image img{
    float: left;
    width: 50%;
    margin-left: 25%;
}

#selenium{
    width: 20%;
    margin-left: 40%;
}

.project-description{
    width: 100%;
    height: 15em;
}

.project-description p{
    padding: 5%;
    font-size: 1em;
    text-align: center;
}

.see-github{
    width: 100%;
    text-align: center;
    padding: 5%;
}

.see-github a:hover{
    font-weight: 2;
    color: #A33100;
}

.see-github a{
    text-decoration: none;
    color:#304B42;
}

#skills{
    background-color: #813b36;
    float: left;
    width: 100%;
    height: 50em;
}

#skills h2{
    color: #FAF3DB;
    font-size: 3.5em;
    float: left;
    width: 100%;
    height: auto;
    display: block;
    padding-top: 3%;
    text-align: center;
}

#skills-content{
    width: 90%;
    height: auto;
    background-color: #ffffff;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 10%;
}
.skill-col{
    width: 33%;
    margin: 1.2%;
    float: left;
    padding: 1%;
}

.skill-col h3{
    font-size: 1.6em;
    color: #A33100;
    background-color: #FAF3DB;
    text-align: left;
    margin-top: 3%;
}

.skill-col ul li{
    list-style-type: none;
    color: #304B42;
    font-size: 1.2em;
    padding: 0.5%;
}

#col-1{
    width: 25%;
}

/*media queries to make the desing responsive for more devices */

@media screen and (max-width: 540px) {
    #profile-picture{
        width: 50%;
        height: auto;
        border-radius: 50%;
        margin-right: 25%;
    }

    #name{
        width: 100%;
    }

    #name h1 {
        font-size: 1.5em;
        width: 100%;
    }

    #name h2 {
        font-size: 1.2em;
        width: 90%;
        margin-left: 5%;
    }

    #name p {
        margin-top: 3%;
        font-size: 0.9em;
        width: 80%;
        height: auto;
        text-align: center;
        margin-left: 10%;
    }

    .icon {
        width: 1.5em;
        height: auto;
        opacity: 80%;
    }

    #certifications h2{
        font-size: 2em;
        text-align: center;
    }

    #logos img{
        width: 40%;
    }

    #university{
        width: 100%;
    }

    #university p{
        width: 100%;
        font-size: 1em;
        text-align: center;
        margin: 0%;
    }

    #university h3{
        font-size: 1.8em;
        text-align: center;
    }

    #university img{
        width: 30%;
        margin-left: 35%;
    }

    #languages{
        width: 100%;
        margin: 0%;
    }

    .language{
        width: 100%;
        margin: 0%;
        margin-bottom: 5%;
    }

    .language image{
        width: 30%;
    }

    .language h3{
        font-size: 1.5em;
    }

    #course h2{
        margin-top: 5%;
        font-size: 2em;
    }

    .course-item{
        width: 100%;
        text-align: center;
        font-size: 1em;
        margin-top: 2%;
    }

    .course-item a{
        color: #fff;
        background-color: transparent;
    }

    #projects h2{
        font-size: 2em;
    }

    .description p{
        font-size: 0.7em;
        width: 100%;
    }

    .project{
        width: 100%;
    }

    .project-title-text{
        font-size: 1.1em;
        height: auto;
    }

    .project-image{
       height: auto;
    }
    
    .project-title{
        height: 4.5em;
    }

    .see-github{
        margin-top: 10%;
    }

    footer{
        width: 100%;
        margin-left: 0%;
        padding-top: 5%;
        padding-bottom: 10%;
        font-size: 1em;
    }
}

@media screen and (min-width: 541px) and (max-width: 1023px) {
    #profile-picture{
        width: 60%;
        margin-right: 20%;
    }

    #name{
        width: 100%;
    }

    #name h1 {
        font-size: 2.2em;
        width: 100%;
    }

    #name h2 {
        font-size: 1.4em;
        width: 90%;
        margin-left: 5%;
    }

    #name p {
        margin-top: 3%;
        font-size: 1em;
        width: 80%;
        height: auto;
        text-align: center;
        margin-left: 10%;
    }

    .icon {
        width: 1.5em;
        height: auto;
        opacity: 80%;
    }

    #certifications h2{
        font-size: 2.5em;
        text-align: center;
    }

    #logos img{
        width: 40%;
    }

    #university{
        width: 100%;
    }

    #university p{
        width: 100%;
        font-size: 1.2em;
        text-align: center;
        margin: 0%;
    }

    #university h3{
        font-size: 1.8em;
        text-align: center;
    }

    #university img{
        width: 25%;
        margin-left: 35%;
    }

    #languages{
        width: 100%;
        margin: 0%;
    }

    .language{
        width: 100%;
        margin: 0%;
        margin-bottom: 5%;
    }

    .language img{
        width: 15%;
    }

    .language h3{
        font-size: 1.8em;
    }

    #course h2{
        margin-top: 5%;
        font-size: 2em;
    }

    .course-item{
        width: 100%;
        text-align: center;
        font-size: 1.2em;
        margin-top: 2%;
    }

    .course-item a{
        color: #fff;
        background-color: transparent;
    }

    #projects h2{
        font-size: 2em;
    }

    .description p{
        font-size: 0.85em;
        width: 100%;
    }

    .project{
        width: 100%;
    }

    .project-title-text{
        font-size: 1.2em;
        height: auto;
    }

    .project-image{
       height: auto;
    }
    
    .project-title{
        height: 5em;
    }

    .see-github{
        margin-top: 2%;
    }

    footer{
        width: 100%;
        margin-left: 0%;
        padding-top: 5%;
        padding-bottom: 10%;
        font-size: 1em;
    }
}

@media screen and (min-width: 711px) and (max-width: 1023px) {
    #university img{
        width: 35%;
        margin: 0;
    }

    #university h3{
        font-size: 2.2em;
    }

    #university p{
        font-size: 1.3em;
    }

    .language{
        width: 50%;
    }

    .language img{
        width: 25%;
    }

    .course-item{
        font-size: 1.22em;
    }

    .project-image{
        height: auto;
    }

    .project-description{
        font-size: 1.2em;
    }

    .see-github{
        font-size: 1.5em;
        margin: 0;
    }

    footer{
        font-size: 1.4em;
        height: auto;
    }
}