*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

#name{
    display: flex;
    justify-content: left;
    font-size: 1.2em;
    display: block;
    margin: 2%;
}

article{
    display: flex;
    justify-content: center;
    width: 60%;
}

#profile-picture{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

#knowledges{
    background-color: #EE7444;
    color: #ffffff;
}

#knowledges ul li{
    list-style-type: none;
}

#projects{
   justify-content: center;
}

#projects div{
    display: block;
    justify-content: center;
    width: 30%;
    height: 20%;
    float: left;
}

#projects div h3{
   text-align: center;
   height: 20%;
}

#projects img{
    width: 50%;
    height: auto;
    
}

footer{
    float: left;
    width: 100%;
    display: block;
    background-color: #403D39;
    color: #EE7444;
}

footer p{
    margin: 2%;
    width: 100%;
    float: left;
}

#contact{
    float: left;
    width: 100%;
}

#contact i{
    font-size: 2em;
}